@font-face {
    font-family: Zig;
    src: url(../fonts/zig.ttf);
}

@font-face {
    font-family: Wellbutrin;
    src: url(../fonts/wellbutrin.ttf);
}

@font-face {
    font-family: Karmatic;
    src: url(../fonts/karmatic.ttf);
}

@font-face {
    font-family: DsAccent;
    src: url(../fonts/ds-accent.ttf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker.ttf);
}

$blue-white-background: -webkit-linear-gradient(#52ADFF 20%, #63BDFF 20% 40%, #ADDEFF 40% 60%, #CEEFFF 60% 80%, #ffffff 80%);
$blue-white-large-background: -webkit-linear-gradient(#008AF9 24%, #00A0F7 24% 32%, #52ADFF 32% 40%, #63BDFF 40% 48%, #7ED2FC 48% 56%,#ADDEFF 56% 64%,#CEEFFF 64% 72%, #E3F5FC 72% 80%, #ffffff 80%);
$yellow-red-background: -webkit-linear-gradient(#FFFF9C 10%,#FFEF73 10% 18%,#FFDE52 18% 27%, #FFCE42 27% 36%, #FFAD31 36% 45%, #FF8C21 45% 54%, #FF7310 54% 63%, #EF6300 63% 72%, #DE5200 72% 80%, #DE4200 80% 90%, #DE0000 90%);
$red-yellow-background: -webkit-linear-gradient(#C60000 0% 25%, #E50405 27% 34%, #FA2400 36% 43%, #FF6A00 45% 52%, #FF8C21 54% 61%, #FFAD31 63% 70%, #FFCE42 72% 78%, #FFDE52 80% 88%, #FFEF73 90%);

$breakpoint-small-width: 400px;
$breakpoint-medium-width: 800px;

* {
    box-sizing: border-box;
    margin: 0;

    @media (max-device-width: $breakpoint-small-width) {
        font-size: .8em;
    }

    @media (max-device-width: $breakpoint-medium-width) {
        font-size: .9em;
    }
}

body {
    background: #ffffff;
    font-family: Wellbutrin;
}

body:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(#0D122B, #0D122B 2px, #565B73 2px, #565B73 4px);
    opacity: 0.1;
    z-index: 100;
    content: "";
    pointer-events: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.main__wrapper {
    background-color: #222222;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 4em;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.main__header {
    font-family: Karmatic;
    background: $yellow-red-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7em;

    @media (max-device-width: $breakpoint-medium-width) {
        font-size: 6em;
    }

    @media (max-device-width: $breakpoint-small-width) {
        font-size: 4em;
    }

    .big {
        font-size: 1.5em;
    }

    .small {
        font-size: .5em;
        vertical-align: bottom;
        background: -webkit-linear-gradient(#FFCE42, #DE4200);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main__options {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    max-height: 8em;
    font-size: 3em;


    @media (max-device-width: $breakpoint-small-width) {
        font-size: 2.5em;
    }

    & h3 {
        background: $blue-white-background;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.main__option-button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        background: -webkit-linear-gradient(#FFE875, #ffffff, #FFE875);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::before {
            content: ">";
            margin-right: 1em;
        }

        &::after {
            content: "<";
            margin-left: 1em;
        }
    }
}

.main__footer {
    font-size: 1.3em;
    color: #EFEFFF;
    text-align: center;
}


.game__wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/main-background.png);
    background-size: cover;
}

.preparing-container__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Wellbutrin;
    overflow: hidden;
}

.preparing-container__header {
    font-size: 3rem;
    align-self: center;
    background: $blue-white-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: blink ease-in 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    55% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.preparing-container__section {
    font-size: 2rem;
    color: #F9FAF4;
    align-self: start;
    justify-self: center;
    max-width: 90vw;
    animation: slide-from-left ease-in 0.3s;

    &--spectator {
        align-self: end;
        margin-bottom: 2rem;
        animation: slide-from-right ease-in 0.3s;
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}


.preparing-container__label {
    max-width: 90vw;

    &--player {
        font-size: 1.5em;
    }
}

.preparing-container__link {
    font-size: 1rem;
    color: #333333;
    background-color: #FFFFCC;
    padding: .7em 1em;
    margin-top: 1em;

    @media (max-device-width: $breakpoint-small-width) {
        display: flex;
        flex-direction: column;
    }
}

.preparing-container__copy-button {
    border: none;
    background-color: #FFCC44;
    padding: .7em 1em;
    margin-left: 1em;
    cursor: pointer;

    @media (max-device-width: $breakpoint-small-width) {
        align-self: center;
        margin-top: .5em;
    }
}

.preparing-container__copied {
    visibility: collapse;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #333333;
    position: absolute;
    top: 0;
    left: 50%;
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.5em;
    z-index: 10;
    transform: translateX(-50%) translateY(-4rem);
    transition: transform .3s ease, visibility .3s;

    &--visible {
        visibility: visible;
        transform: translateX(-50%) translateY(0);
    }
}

.starting-container__wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.starting-container__message {
    font-family: PermanentMarker;
    background: $red-yellow-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15em;
    transform: skew(-15deg) rotate(-10deg);

    @media (max-device-width: $breakpoint-small-width) {
        font-size: 10em;
    }

    &--animation {
        animation: countdown .2s ease;
    }
}

@keyframes countdown {
    0% {
        transform: skew(-15deg) rotate(-10deg) scale(0);
    }

    100% {
        transform: skew(-15deg) rotate(-10deg) scale(1);
    }
}

.game-container__wrapper {
    display: grid;
    grid-template-rows: minmax(auto, 15vh) 10vh 1fr 10vh;
    width: 100vw;
    height: 100vh;
}

.game-header__wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    margin: 1em 0;
    font-family: Zig;
    animation: slide-down .5s ease;
    justify-self: center;
    width: 98vw;
}

@keyframes slide-down {
    0% {
        transform: translateY(-50vh);
    }

    100% {
        transform: translateY(0);
    }
}

.game-header__player-label {
    grid-row: 2;
    font-size: 4em;
    color: #FFFFCC;
    padding: 0 1rem;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;

    &--right {
        grid-column: 3;
        justify-self: end;
    }
}

.game-header__player-bar {
    position: relative;
    overflow: hidden;
    width: calc(100%-1rem);
    height: 2.5em;
    background-color: red;
    border: solid 2px #ffffff;

    &--left {
        justify-self: end;
        border-radius: 0.3em 0 0 0.3em;
        border-right: none;
    }

    &--right {
        justify-self: start;
        border-radius: 0 0.3em 0.3em 0;
        border-left: none;
    }
}

.game-header__player-time {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleX( var(--time-percent));
    background: yellow;
    top: 0;

    &--left {
        transform-origin: right;
        right: 0;
    }

    &--right {
        transform-origin: left;
        left: 0;
    }
}

.game-header__middle-label {
    background-color: red;
    font-size: 2em;
    height: 1.25em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.2em;
    border: solid #ffffff;
    border-width: 0 2px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.player-message__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.player-message__game-over {
    background: $blue-white-background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Zig;
    animation: game-over ease-in 0.5s;
    font-size: 5em;

    @media (max-device-height: $breakpoint-small-width) {
        font-size: 4em;
    }
}

@keyframes game-over {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.player-message__text {
    color: #FFFFCC;
    animation: fade-in ease-in 3s infinite;
    font-size: 2.5em;

    @media (max-device-height: $breakpoint-small-width) {
        font-size: 2em;
    }

    &--active {
        color: yellow;
    }

    &--game-over {
        color: white;
        animation: game-result ease-in 1s;
    }
}

@keyframes game-result {
    0% {
        transform: scaleY(0);
    }

    70% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.spectator-message__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CEEFFF;
    font-size: 1.5em;
}

.board__wrapper {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-content: center;
    justify-content: center;
    animation: board-show .5s ease;
}

@keyframes board-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.board__field {
    width: 20vmin;
    height: 20vmin;
    border: 1px solid #666666;
    border-radius: 250px 5px 250px 5px/5px 250px 5px 250px;
    background-color: #fcfcfc;
    color: #333333;
    font-size: 14vmin;
    font-family: DsAccent;
    cursor: pointer;

    &:not(&--game-over):not(&--disabled):hover {
        color: #cccccc;
        background-color: #fff;
    }

    &--x:hover::after {
        content: "X";
    }

    &--o:hover::after {
        content: "O";
    }

    &--disabled {
        cursor: not-allowed;
        color: #333333;
    }

    &--win {
        font-size: 16vmin;
        color: orangered;
        animation: win-field ease-in 0.2s;
    }

    &--game-over {
        cursor: default;
    }

    @media (max-device-height: $breakpoint-small-width) {
        width: 18vmin;
        height: 18vmin;
        font-size: 12vmin;

        &--win {
            font-size: 14vmin;
        }
    }
}

@keyframes win-field {
    0% {
        font-size: 1vmin;
    }

    100% {
        font-size: 16vmin;
    }
}

.game-container__new-game {
    background: none;
    border: none;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    background: -webkit-linear-gradient(#FFEF73 20%, yellow 20% 40%, #FFFF89 40% 60%, #FFFFB6 60% 80%, white 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Zig;
    animation: blink ease-in 2s infinite;
    font-size: 3em;

    @media (max-device-height: $breakpoint-small-width) {
        font-size: 2em;
    }

    &:hover {
        animation: none;

        &::before {
            content: ">";
            margin-right: 1em;
            font-family: Wellbutrin;
        }

        &::after {
            content: "<";
            margin-left: 1em;
            font-family: Wellbutrin;
        }
    }
}
