@page "/game/{GameUId}"
@page "/game/{GameUId}/{PlayerUId}"
@using Microsoft.AspNetCore.WebUtilities
@using TicTacToe.Logic
@using TicTacToe.Models
@using TicTacToe.Helpers

<div class="game__wrapper">

    @if (gameManager?.IsNotFound == true)
    {
        <ExpiredContainer OnBackHome='() => NavigationManager.NavigateTo("")' />
    }
    else if (gameManager?.GameStage == null)
    {
        <LoadingContainer />
    }
    else if (gameManager?.GameStage == EnumGameStage.Preparing)
    {
        <PreparingContainer Options="@gameManager?.GamePreparation" />
    }
    else if (gameManager?.GameStage == EnumGameStage.Starting)
    {
        <StartingContainer OnCountdownEnd="StartMatch" />
    }
    else if (gameManager?.GameStage == EnumGameStage.Started)
    {
        <GameContainer GameManager="@gameManager" />
    }

</div>

@code {
    private NavigationManager NavigationManager;

    public Game(NavigationManager navigationManager)
    {
        NavigationManager = navigationManager;
    }

    [Parameter]
    public string GameUId { get; set; }
    [Parameter]
    public string PlayerUId { get; set; }

    private GameManager gameManager;


    protected override async Task OnInitializedAsync()
    {
        GameUId = IdGenerator.Normalize(GameUId);
        PlayerUId = IdGenerator.Normalize(PlayerUId);

        var hubUrl = NavigationManager.ToAbsoluteUri(GameHub.HubUrl).ToString();
        gameManager = new GameManager(hubUrl, GameUId);
        gameManager.PropertyChanged += async (o, e) => await InvokeAsync(StateHasChanged);

        await gameManager.StartConnection();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            gameManager.Player = PlayerUId is not null ? new Player(PlayerUId) : null;
            await InitGame();
            await gameManager.JoinGame();
            await gameManager.SynchronizeState();
        }
    }

    private async Task InitGame()
    {
        var queryString = new Uri(NavigationManager.Uri).Query;

        if (QueryHelpers.ParseQuery(queryString).TryGetValue("init", out var pt))
        {
            var playerType = Enum.Parse(typeof(EnumPlayerType), pt.ToString().ToUpper()) as EnumPlayerType?;
            if (playerType.HasValue)
            {
                gameManager.Player.PlayerType = playerType.Value;
                await gameManager.CreateGame();

                // Clean up the URL to prevent accidental re-creation on refresh
                var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).GetLeftPart(UriPartial.Path);
                NavigationManager.NavigateTo(uri, replace: true);
            }
        }
    }

    private async Task StartMatch() => await gameManager.StartMatch();

}
