@using TicTacToe.Models
@using TicTacToe.Logic
@using TicTacToe.Helpers
@page "/"

<div class="main__wrapper">
    <header class="main__header">
        <span class="big">X</span> s <span class="small">vs</span> <span class="big">O</span> s
    </header>
    <main class="main__options">
        <h3>OPTIONS</h3>
        <button class="main__option-button" @onclick="()=>StartGame(EnumPlayerType.X)">Play as X</button>
        <button class="main__option-button" @onclick="()=>StartGame(EnumPlayerType.O)">Play as O</button>
    </main>
    <footer class="main__footer">
        © 2020
    </footer>
</div>

@code{
    private NavigationManager NavigationManager;

    public Index(NavigationManager navigationManager)
    {
        NavigationManager = navigationManager;
    }

    private void StartGame(EnumPlayerType playerType)
    {
        var gameId = IdGenerator.Generate();
        var playerId = IdGenerator.Generate();
        NavigationManager.NavigateTo(GameLogic.GetStartUrl(gameId, playerId, playerType));
    }
}